<h2><a href="/all_pokemon">All Pokemon</a></h2>
<div class="pokemon">
  <p>Pokemon Name: <%= @pokemons.name %></p>
  <p>Pokemon cp: <%= @pokemons.cp %></p>
  <p>Pokemon poke_type: <%= @pokemons.poke_type %></p>

  <img src="<%= @pokemons.img_url %>" alt="Photo" class="pokemon-photo">
  <br>




</div>
